// Brand Color Variables
// $primary: #1979a9;
$light-blue: #0077c8;
$mid-blue: #054880;
$dark-blue: #070a17;
$cool-teal: #074f67;
$deep-teal: #143548;
$red: #e82535;
$crimson: #c92830;
$green: #108a4b; // 009f4d

// Utility Color Variables
$text-color: #020202;
$bg-color: #f7f7f7;
$light-grey: #757575;
$dark-grey: #272726;

// More Web Colors
$white: #fff;
$black: #000;
$charcoal: #343534;
$orange: #e46e2a;
$magenta: #d92a82;

// Generated the color helper classes in 'themes/_colors.scss'
// $theme-colors: (
//   white: $white,
//   black: $black,
//   light-grey: $light-grey,
//   dark-grey: $dark-grey,
//   red: $red,
//   light-blue: $light-blue,
//   dark-blue: $dark-blue,
//   green: $green,
//   yellow: $yellow,
//   orange: $orange,
//   magenta: $magenta
// );

// Overwrite these defaults on custom styles !defaults to change theme-colors mapping
// $primary:       $blue !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;

// Theme Colors Map
// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// ) !default;
