// Browser Context Sizing for unit/measurement (Set to 10 for easier debugging in browser devtools)
$browser-context: 10px;
$base-line-height: 1.5;
$base-letter-spacing: 0;

// Responsive Breakpoints
$breakpoints: (
  xs: 425px,
  sm: 600px,
  md: 900px,
  lg: 1280px,
  xl: 1600px
);

$break-xs: map-get($breakpoints, xs);
$break-sm: map-get($breakpoints, sm);
$break-md: map-get($breakpoints, md);
$break-lg: map-get($breakpoints, lg);
$break-xl: map-get($breakpoints, xl);
