// Positioning
@mixin flex-children ($align: flex-start, $justify: flex-start) {
  height: 100%;
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin center-children {
  @include flex-children(center, center);
}
