@mixin side-padding {
  padding-left: $padding-side-mobile;
  padding-right: $padding-side-mobile;

  @include break-min($md) {
    padding-left: $padding-side-tablet;
    padding-right: $padding-side-tablet;
  }

  @include break-min($lg) {
    padding-left: $padding-side-desktop;
    padding-right: $padding-side-desktop;
  }
}

@mixin container {
  @include side-padding;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include break-min($lg) {
    max-width: $lg;
  }

  @include break-min($xl) {
    max-width: $xl;
  }
}

// CSS Grid
// mixin for site grid layout wrapper

$default-grid-gutter: 20px;
@mixin grid(
  $col: 4,
  $col-gutter: $default-grid-gutter,
  $row-gutter: $default-grid-gutter
) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  gap: $row-gutter $col-gutter;
}
